{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works
don't forget to include your css and your client-side script file references in the layout.
}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="{{#if isLoginPage}}login-page{{else if isRegisterPage}}register-page{{else}}not-login-page{{/if}}">
    
         {{{body}}}

   <script src="/js/client_side_validation.js"></script>
</body>
</html>